<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">evaluate</property>
        <property name="hibernate.connection.password">evaluate</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/evaluate</property>
        <property name="show_sql">true</property>
        <property name="format_sql">false</property>
		<property name="hbm2ddl.auto">create-drop</property>
        <!--mapping resource="demo/entity/AppUser.hbm.xml"/-->
        <mapping class="demo.entity.AppUser"/>
    </session-factory>
</hibernate-configuration>